@import "bootstrap-sprockets";
@import "bootstrap";
/* typography */


h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h1.left{
  text-align: left;
}
.left{
  text-align: left;
}

span.Counter{
  display:inline-block;padding:2px 5px;font-size:12px;font-weight:600;line-height:1;color:#586069;background-color:rgba(27,31,35,0.08);border-radius:20px;

}
.underline-nav-item.selected{
  color:#24292e;border-bottom-color:#e36209
}

.underline-nav{display:table;height:62px}
.underline-nav-item{display:table-cell;padding-right:20px;padding-left:20px;font-size:14px;color:#586069;vertical-align:middle;border-bottom:2px solid transparent}
.underline-nav-item:hover
.underline-nav-item:focus{color:#24292e;text-decoration:none}

body
{
    font-family: 'Open Sans', sans-serif;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}


#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}
body {
  padding-top: 60px;
  width:100%;
  background: #F6F6F6;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

#Introduction,#Mentor,#About, #Company{
  padding-top: 20px;
  padding-bottom: 60px;
}

#Introduction p{
  position: relative;
  font-size: 24px;  
  /* max-width: 900px; */
}
#Company{
  position: relative;
  background: #F6F6F6;
}

#Mentor{
  position: relative;
}

/* #Mentor h3{
  margin-bottom: 15px;
} */
#Mentor .details{
  border: solid #E0E0E0 1px;
  background: white;
  border-radius: 10px;
  position: relative;
  height: 250px;
}
#Company .details{
  border: solid #E0E0E0 1px;
  background: white;
  border-radius: 10px;
  position: relative;
  height: 250px;
}


#Mentor .details hr{
  margin-top: 0px;
}

#Company .details hr{
  margin-top: 0px;
}
  /* padding-top: 30px; */
  /* padding-bottom: 30px; */

#Mentor .details li{
  font-size: 20px;
  
}
#Mentor .details p{
  font-size: 24px;
}

#Company .details li{
  font-size: 20px;
  
}
#Company .details p{
  font-size: 24px;
}


.ratio {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 100%;
    position: relative;
    width: 100%;
}
.img-circle {
    border-radius: 50%;
    max-height: 50px; 
    max-width: 50px;
}
.img-responsive {
    display: block;
    height: auto;
    max-width: 100%;
    margin: 0 auto;
}

