%h1 Error the avatar should be jpg,jpeg,png,gif file and must be less than 5 megabytes. The resume should be pdf file and must be less than 5 megabytes.

= link_to 'Go back to profile', profile_path

= link_to 'Go back to edit profile', edit_profile_path